* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

.container {
  width: 900px;
  height: 900px;
  margin: 20px auto 0;
  border: 3px solid black;
  background-color: black;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.box {
  width: 33%;
  height: 33%;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nol {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 35px solid green;
}

.fa-xmark {
  font-size: 300px;
  color: red;
}
